opencv-python
urllib3
charset_normalizer
certifi
scikit-image
onnxruntime
scikit-learn
tqdm
requests
slideio
glog
aicsimageio
aicspylibczi>=3.1.1
pycryptodome
h5py
patchify
numba
fastremap
natsort
roifile